.review_container {
  margin-top: 20px;
  background-color: #ff5555;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}

.review_item {
  margin-bottom: 20px;
}

.author {
  font-weight: bold;
  color: #aa0c0c;
}

.content {
  margin-top: 10px;
  line-height: 1.5;
  color: #333;
}
