.movie_details {
  display: flex;
  margin: 20px;
}

.movie_details_content {
  flex: 1;
  padding: 20px;
}

.movie_details_image {
  max-width: 300px;
  margin-right: 20px;
}

.movie_title {
  font-size: 24px;
  font-weight: bold;
}

.movie_overview {
  margin-top: 10px;
}

.additional_info {
  margin-top: 20px;
  background-color: _;
}

.additional_info h3 {
  cursor: pointer;
  margin-bottom: 10px;
}
