.movie_details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
}

.movie_details_content {
  width: 100%;
}

.movie_details_image {
  width: 200px;
  margin-right: 20px;
}

.movie_info {
  flex: 1;
}
