.container {
  padding: 20px;
}

.list {
  grid-gap: 15px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}

.cast_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 20px;
}

.actor_image {
  width: 200px;
  height: 200px;

  margin-right: 10px;
}

.actor_name {
  margin: 0;
  font-weight: bold;
}
